<center>
<div class="col-md-6 col-md-offset-3">

	<div class="new-organization-form">

		<h1>Editing Route</h1>

		<%= render 'form',route: @route %>

        <%= link_to 'Show', @route %> |
        <%= link_to 'Back', routes_path %>
	</div>

</div>
</center>