@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}

.navbar-brand {
    font-size: 1.38em;
}

body {
    background-color: #e7eff1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #182044;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}


div.field {
    color: #182044;
    margin-bottom: 15px; 
}

div.actions {
    margin-bottom: 15px;
}

a:visited {
    color: rgb(141, 184, 224); 
}
a, a:visited, a:focus, a:active, a:hover {
    outline: 0 none !important;
}

a:hover {
    color: rgb(160, 218, 240);
    background-color: rgb(166, 194, 218); 
}
  
th {
    padding-bottom: 5px; 
}
  
td {
    padding: 0 5px 7px; 
}

#error_explanation h2 {
    color: #ee4737;
} 

 #error_explanation ul {
    color: #ee4737;
}

.slider {
    margin-bottom: 50px;
}

#map {
    width: 600px;
    height: 400px;
}

#map2 {
    width: 600px;
    height: 400px;
}

.circular_image {
    width: 100;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.reviews {

	margin-top: 40px;

	h1 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 2em;
	}

	.review {
        @include background-tile;
		border-bottom: 1px solid gainsboro;
		margin-bottom: 15px;
		padding-bottom: 10px;

		.review-comment {
			font-size: 1.05em;
			line-height: 1.5;
		}

	}

	.new-review {
		padding-top: 8px;
	}

}

.btn-custom {
	color: darken(#2da7cd, 5%);
	background-color: #fff;
	border: 1px solid darken(#218cc6, 5%);
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken(#8fd2f9, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: rgb(153, 190, 227);
	background-color: #fff;
	border: 1px solid rgb(6, 9, 10);
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: rgb(109, 195, 226);
		color: #fff;
		transition: 0.5s;
	}	
}

.new-review-form, .edit-review-form {
	@include background-tile;

	h1 {
		margin-top: 0;
	}

	#rating-form {
		margin-bottom: 15px;

		label {
			display: block;
		}

	}

}

.links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
	}

}

.organization-links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
		margin-top: 40px;	
	}

}

/* Organization styles */

.organization {
	height: 350px;
	width: 250px;
	margin-bottom: 40px;
	@include background-tile;
}

.organization-show {
	height: 475px;
	width: 325px;
	@include background-tile;
}

.organization-info {
	@include background-tile;

	.organization-title {
		margin-top: 0;
		font-size: 2em;
	}

	.avg-rating {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.number-of-reviews {
		font-size: 0.85em;
		font-style: italic;
	}

	.organization-name-place {
		font-size: 1.5em;
		margin-top: 10px;
		margin-bottom: 10px;
		span {
			font-size: 0.80em;
		}	
	}
 
}

.new-organization-form, .edit-organization-form {
	@include background-tile;

	h1 {
		margin-top: 0;
	}

	#organization_img {
		margin-bottom: 10px;
	}

}

